<!DOCTYPE html>
<html>

<head>
    <style>
        #map {
            height: 400px;
            width: 400px;
        }
    </style>
</head>

<body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
        function initMap() {
            var uluru = {
                lat: 30.0444,
                lng: 31.2357
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: uluru
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                draggable: true,
                title: "Drag me!"
            });

            map.addListener('click', function(e) {
                placeMarkerAndPanTo(e.latLng, map, marker);
            });
        }

        function placeMarkerAndPanTo(latLng, map, marker) {
            marker.setPosition(latLng);
            map.panTo(latLng);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSb0024ZA1zQorALVJkTNHZ5Gn4B43j64&callback=initMap"></script>
</body>

</html>
