.userInfo-box{
  position: relative;
  width: 600px;
  padding: 45px;
  height: auto;
  border-radius: 20px;
}

.userInfo-data{
  position: relative;
  width: 300px;
}

.userInfo-edit {
  position: absolute;
  height: 100px;
  width: 150px;
  left: 100%;
  margin-left: -150px;

}
.userInfo-edit button{
  position: relative;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  width: 100px;
}
.userInfo-edit-box-btn{
  position: relative;
  height: 50%;
  width: 100%;
}