<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
</head>
<body>
<div><% if(name === 'meniawy'){%>
	<h1><%= name %></h1>
	<% } else{ %>
	<h1>name is not <%=name %></h1>
	<% } %>

</div>
<div>
	<% players.forEach(function(player){%>
		<p><%= player %></p>
	<% }); %>

</div>

</body>
</html>